<% matches = getMatches(team) %>
<tr>
	<td><%= team.number %></td>
	<td> <a href="<%= team_path(team) %>" style="	text-decoration: none;"> <%= team.name %></a></td>
	<td> <%= highScore(matches, team) %> </td>
	<td> <%= avgScore(matches, team) %> </td>
	<td> <%= stDev(matches, team) %> </td>
	<td> <%= winPerc(matches, team) %>% </td>
	<td> <%= avgCont(matches, team) %> </td>
</tr>