<tr>
	<td><%= team.number %></td>
	<td> <a href="<%= team_path(team) %>" style="	text-decoration: none;"> <%= team.name %></a></td>
	<td> <%= highScore(getMatches(team), team) %> </td>
	<td> <%= avgScore(getMatches(team), team) %> </td>
	<td> <%= stDev(getMatches(team), team) %> </td>
	<td> <%= winPerc(getMatches(team), team) %>% </td>
	<td> <%= avgCont(getMatches(team), team) %> </td>
</tr>