<% if current_user && (current_user.is?(:neutrinos) || current_user.is?(:admin)) %>
<tr>
	<td><%= team.number %></td>
	<td> <a href="<%= team_path(team) %>" style="	text-decoration: none;"> <%= team.name %></a></td>
	<td> <%= team.high_score %> </td>
	<td> <%= team.avg_score %> </td>
	<td> <%= team.st_dev %> </td>
	<td> <%= team.avg_cont %> </td>
	<td> <%= team.win_perc %>% </td>
</tr>
<% else %>
<tr>
	<td><%= team.number %></td>
	<td> <a href="<%= team_path(team) %>" style="	text-decoration: none;"> <%= team.name %></a></td>
	<td> <%= team.high_score %> </td>
	<td> <%= team.win_perc %>% </td>
</tr>
<% end %>