<tr>
	<td><%= team.number %></td>
	<td> <a href="<%= team_path(team) %>" style="	text-decoration: none;"> <%= team.name %></a></td>
	<td> <%= highScore(team) %> </td>
	<td> <%= avgScore(team) %> </td>
	<td> <%= stDev(team) %> </td>
	<td> <%= winPerc(team) %>% </td>
	<td> <%= avgCont(team) %> </td>
</tr>