<div class="page-header">
  <h1>Listing Teams</h1>
</div>

<table class='table table-striped'>
  <thead>
    <th><%= link_to "Team #", teams_path(filter:"number") %></th>
    <th><%= link_to "Team Name", teams_path(filter:"name") %></th>    
    <th><%= link_to "High Score", teams_path(filter:"high") %></th>    
    <th><%= link_to "Avg Score", teams_path(filter:"avg") %></th>    
    <th><%= link_to "Win %", teams_path(filter:"perc") %></th>    
    <th><%= link_to "Avg Contribution", teams_path(filter:"cont") %></th>    
  </thead>

  <tbody>
    <%= render @teams %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path, class:'btn btn-primary' %>