<div class="page-header">
	<h1><%= @team.show_team %></h1>
</div>

<h2>Season Data</h2>
<h4>High Score: <%= highScore(@team) %></h4>
<h4>Average Score: <%= avgScore(@team) %></h4>
<h4>Standard Deviation: <%= stDev(@team) %></h4>
<h4>Win Percentage: <%= winPerc(@team) %>%</h4>
<h4>Average Contribution: <%= avgCont(@team) %></h4>


<br>
<br>
<h2>Events for <%= @team.name %></h2><br>

<% @team.events.each do |e| %>
  <h4><%= link_to e.name, e %></h4>
  <table class='display'>
    <thead>
    <tr>
      <th>Match #</th>
      <th><%= red("Red 1") %></th>
      <th><%= red("Red 2") %></th>
      <th><%= blue("Blue 1") %></th>
      <th><%= blue("Blue 2") %></th>
      <th><%= red("Red") %></th>
      <th><%= blue("Blue") %></th>
    </tr>
    </thead>

    <tbody>
      <%= render sortMatches(getEventMatches(@team, e)) %>
    </tbody>
  </table>
  <h5 class = "text-right">High Score: <%= highScore(@team, e) %> | Avg Score: <%= avgScore(@team, e) %>
   | St. Dev: <%= stDev(@team, e) %> | Win %: <%= winPerc(@team, e) %> | Avg Contribution: <%= avgCont(@team, e) %></h5>
  <br><br>
<% end %>
<br>
<br>
<div class="row text-right">
	<%= link_to fa_icon('pencil', text:'Edit Team'), edit_team_path(@team), class:'btn btn-default' if can? :modify, Team%> 
	<%= link_to fa_icon('trash-o', text:'Destroy Team'), @team, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' if can? :destroy, Team%>
</div>


<script>
$(document).ready(
  function() {
    $('table.display').DataTable({
        "ordering": false,
        "paging": false,
        "info" : false
    })
  }
  )
</script>
