<div class="page-header">
	<h1><%= @team.show_team %></h1>
</div>
<% allMatches = Match.all %>

<h2>Season Data</h2>
<h4>High Score: <%= highScore(allMatches, @team) %></h4>
<h4>Average Score: <%= avgScore(allMatches, @team) %></h4>
<h4>Standard Deviation: <%= stDev(allMatches, @team) %></h4>
<h4>Win Percentage: <%= winPerc(allMatches, @team) %>%</h4>
<h4>Average Contribution: <%= avgCont(allMatches, @team) %></h4>



<br>
<br>
<div class="row text-right">
  <form class="navbar-form" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Team Number or Name" name="search">
    </div>
    <button type="submit" class="btn btn-info">Search Event Matches</button>
  </form>
</div>
<h2>Events for <%= @team.name %></h2><br>

<% @team.events.each do |e| %>
  <% ematches = e.matches %>
  <h4><%= link_to e.name, e %></h4>
  <h5 class = "text-right">High Score: <%= highScore(ematches, @team) %> | Avg Score: <%= avgScore(ematches, @team) %>
   | St. Dev: <%= stDev(ematches, @team) %> | Win %: <%= winPerc(ematches, @team) %> | Avg Contribution: <%= avgCont(ematches, @team) %></h5>

  <table class='table table-striped table-hover'>
    <thead>
    <tr>
      <th>Match #</th>
      <th><%= red("Red 1") %></th>
      <th><%= red("Red 2") %></th>
      <th><%= blue("Blue 1") %></th>
      <th><%= blue("Blue 2") %></th>
      <th><%= red("Red") %></th>
      <th><%= blue("Blue") %></th>
    </tr>
    </thead>

    <% matches = sortMatches(searchMatches(getEventMatches(@team, e), params[:search])) %>

    <tbody>
      <%= render matches %>
    </tbody>
  </table>
  <br>

<% end %>
<br>
<br>
<div class="row text-right">
	<%= link_to fa_icon('pencil', text:'Edit Team'), edit_team_path(@team), class:'btn btn-default' if can? :modify, Team%> 
	<%= link_to fa_icon('trash-o', text:'Destroy Team'), @team, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' if can? :destroy, Team%>
</div>