<div class="page-header">
	<h1><%= @team.show_team %></h1>
</div>

<h2>Season Data</h2>

<% if current_user && (current_user.is?(:neutrinos) || current_user.is?(:admin)) %>
  <h4>High Score: <%= @team.high_score %></h4>
  <h4>Average Score: <%= @team.avg_score %></h4>
  <h4>Standard Deviation: <%= @team.st_dev %></h4>
  <h4>Average Contribution: <%= @team.avg_cont %></h4>
  <h4>Win Percentage: <%= @team.win_perc %>%</h4>
  <div class="text-right">
    <%= link_to 'New Comment', new_comment_path(type: 'team', team_id: @team.id), class:'btn btn-success btn-md' if can? :modify, Comment%> 
  </div>
  <h2>Comments</h2>
  <% @team.comments.each do |c| %>
    <h4>"<%= c.body %>"</h4>
    <div class='text-right'>
      <h5>
        -<%= c.author %> &nbsp;
        <%= link_to fa_icon('pencil'), edit_comment_path(c), class:'btn btn-default btn-xs' if can? :modify, Comment%>
        <%= link_to fa_icon('trash-o'), c, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-xs' if can? :destroy, Comment%> 
      </h5>
    </div>
  <% end %>
<% else %>
  <h4>High Score: <%= @team.high_score %></h4>
  <h4>Win Percentage: <%= @team.win_perc %>%</h4>
<% end %>

<br>
<br>
<h2>Events for <%= @team.name %></h2><br>

<% @team.participations.sort_by(){|p| [-p.event.year, -p.event.month, -p.event.day]}.each do |p| %>
  <% e = p.event %>
  <% qp = QP(e) %>
  <h3><%= link_to e.name, e %></h3>
  <table class='display'>
    <thead>
    <tr>
      <th>Match #</th>
      <th><%= red("Red 1") %></th>
      <th><%= red("Red 2") %></th>
      <th><%= blue("Blue 1") %></th>
      <th><%= blue("Blue 2") %></th>
      <th><%= red("Red") %></th>
      <th><%= blue("Blue") %></th>
    </tr>
    </thead>

    <tbody>
      <%= render getEventMatches(@team, e).sort_by{|m| m.number} %>
    </tbody>
  </table>

  <% if current_user && (current_user.is?(:neutrinos) || current_user.is?(:admin)) %>
    <h5 class = "text-right">High Score: <%= p.high_score %> | Avg Score: <%= p.avg_score %>
     | St Dev: <%= p.st_dev %> | Avg Cont: <%= p.avg_cont %> | OPR: <%= OPR(e)[@team.number].round(1) %> | # Matches: <%= qp[@team.number][0] %> | QP: <%= qp[@team.number][1] %> | Win %: <%= p.win_perc %>%  </h5>
  <% else %>
    <h5 class = "text-right">High Score: <%= p.high_score %> | # Matches: <%= qp[@team.number][0] %> | QP: <%= qp[@team.number][1] %> | Win %: <%= p.win_perc %>% </h5>
  <% end %>
<br>
<br>
<% end %>

<br>
<br>
<div class="row text-right">
	<%= link_to fa_icon('pencil', text:'Edit Team'), edit_team_path(@team), class:'btn btn-default' if can? :modify, Team%> 
	<%= link_to fa_icon('trash-o', text:'Destroy Team'), @team, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' if can? :destroy, Team%>
</div>


<script>
$(document).ready(
  function() {
    $('table.display').DataTable({
        "ordering": false,
        "paging": false,
        "info":false
    })
  }
  )
</script>
