<div class="page-header">
	<h1><%= @event.name %></h1>
  <h3><%= show_date(@event) %> <%= show_level(@event) %></h3>
</div>


<div class="text-right">
    <%= link_to 'New Match', new_event_match_path(@event), class:'btn btn-primary' if can? :modify, Match%> <br><br>
</div>
<h2>Matches</h2>
<table id="matches_table" class = "display">
  <thead>
  <tr>
    <th>Match #</th>
    <th><%= red("Red 1") %></th>
    <th><%= red("Red 2") %></th>
    <th><%= blue("Blue 1") %></th>
    <th><%= blue("Blue 2") %></th>
    <th><%= red("Red") %></th>
    <th><%= blue("Blue") %></th>
  </tr>
  </thead>
  <tbody>
    <%= render sortMatches(@event.matches) %>
  </tbody>
</table>

<script>
$(document).ready(
  function() {
    $('#matches_table').DataTable({
        "ordering": false,
        "paging": false,
        "info" : false
    })
  }
  )
</script>


<br><br>
<h2>Competing Teams</h2>
<table id="teams_table" class="display">
  <thead>
    <tr>
      <th>Team #</th>
      <th>Team Name</th>
      <th>Event High Score</th>
      <th>Event Avg Score</th>
      <th>Event St Dev</th>
      <th>Event Win %</th>
      <th>Event Avg Contribution</th>
    </tr>
  </thead>
  <tbody>
    <% @event.teams.each do |t| %>
      <tr>
        <td><%= t.number %></td>
        <td> <a href="<%= team_path(t) %>" style=" text-decoration: none;"> <%= t.name %></a></td>
        <td><%= highScore(t, @event) %></td>
        <td><%= avgScore(t, @event) %></td>
        <td><%= stDev(t, @event) %></td>
        <td><%= winPerc(t, @event) %></td>
        <td><%= avgCont(t, @event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
$(document).ready(
  function() {
    $('#teams_table').DataTable({
        "order": [[ 0, "asc" ]],
        "paging": false,
        "info" : false
    })
  }
  )
</script>


<br>
<br>
<div class="row text-right">
	<%= link_to fa_icon('pencil', text:'Edit Event'), edit_event_path(@event), class:'btn btn-default' if can? :modify, Event%> 
	<%= link_to fa_icon('trash-o', text:'Destroy Event'), @event, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' if can? :destroy, Event%>
</div>