<div class="page-header">
	<h1><%= @event.name %></h1>
  <h3><%= show_date(@event) %> <%= show_level(@event) %></h3>
</div>

<div class="text-right">
<%= link_to 'New Match', new_event_match_path(@event), class:'btn btn-primary' %> <br><br>
</div>
<h2>Matches</h2><br>
<table class='table table-striped table-hover'>
  <thead>
    <th>Match #</th>
    <th><%= red("Red 1") %></th>
    <th><%= red("Red 2") %></th>
    <th><%= blue("Blue 1") %></th>
    <th><%= blue("Blue 2") %></th>
    <th><%= red("Red") %></th>
    <th><%= blue("Blue") %></th>
  </thead>

  <tbody>
    <%= render @event.matches %>
  </tbody>
</table>
<br>
<br>

<h2>Competing Teams</h2><br>
<table class='table table-striped table-hover'>
  <thead>
    <th>Team #</th>
    <th>Team Name</th>    
  </thead>

  <tbody>
    <% @event.teams.each do |t| %>
    <tr>
      <td><%= t.number %></td>
      <td> <a href="<%= team_path(t) %>" style=" text-decoration: none;"> <%= t.name %></a></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<div class="row text-right">
	<%= link_to fa_icon('pencil', text:'Edit Event'), edit_event_path(@event), class:'btn btn-default' %> 
	<%= link_to fa_icon('trash-o', text:'Destroy Event'), @event, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
</div>