<div class="row col-md-10 col-md-ofset-1">

	<h1><%= controller.action_name.capitalize %> Match </h1>
	<br>
	<%= simple_form_for([@event, @match], html:{class:'form-horizontal'}, wrapper: :horizontal_form) do |f| %>

		<% f.error_notification %>
		<%= f.hidden_field :event_id %>
		<%= f.input :number, label: 'Match Number', hint:"For division matches (e.g. Apple and Banana), use form A5, B6, etc." %>
		<%= f.input :red1_id, label: 'Red 1', collection: Team.all.order(:number), label_method: :show_team %>
		<%= f.input :red2_id, label: 'Red 2', collection: Team.all.order(:number), label_method: :show_team %>
		<%= f.input :blue1_id, label: 'Blue 1', collection: Team.all.order(:number), label_method: :show_team %>
		<%= f.input :blue2_id, label: 'Blue 2', collection: Team.all.order(:number), label_method: :show_team %>
		<%= f.input :red_score %>
		<%= f.input :blue_score %>

		
		<div class="row text-right" %>
			<%= f.submit nil, class:'btn btn-primary'%>
			<%= link_to 'Cancel', @event, class:'btn btn-default' %>
		</div>
	<% end %>
</div>