<tr>
	<td><%= link_to match.number, match %></td>
	<td> <%= link_to match.red1.show_team, match.red1 %> </td>
	<td> <%= link_to match.red2.show_team, match.red2 %> </td>
	<td> <%= link_to match.blue1.show_team, match.blue1 %> </td>
	<td> <%= link_to match.blue2.show_team, match.blue2 %> </td>
	<td> <%= match.red_score %> </td>
	<td> <%= match.blue_score %> </td>
</tr>