<div class="page-header">
  <h1>Listing Matches</h1>
</div>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th colspan="7"></th>
    </tr>
    <th>Match Number</th>
    <th><%= red("Red 1") %></th>
    <th><%= red("Red 2") %></th>
    <th><%= blue("Blue 1") %></th>
    <th><%= blue("Blue 2") %></th>
    <th><%= red("Red") %></th>
    <th><%= blue("Blue") %></th>
  </thead>

  <tbody>
    <%= render @matches %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path, class:'btn btn-primary' %>