<div class="page-header">
	<h1>Match <%= @match.number %>, <%= link_to @match.event.name, @match.event %></h1>
	<h3><%= red(@match.red_score) %> - <%= blue(@match.blue_score) %></h3>
</div>

<br>
<h2><%= red("Red Alliance") %></h2>
<h4><a href="<%= team_path(@match.red1) %>" style="color:#FF0000;"> <%= @match.red1.show_team %></a></h4>
<h4><a href="<%= team_path(@match.red2) %>" style="color:#FF0000;"> <%= @match.red2.show_team %></a></h4>


<br>
<br>
<h2><%= blue("Blue Alliance") %></h2>
<h4><a href="<%= team_path(@match.blue1) %>" style="color:#0000FF;"> <%= @match.blue1.show_team %></a></h4>
<h4><a href="<%= team_path(@match.blue2) %>" style="color:#0000FF;"> <%= @match.blue2.show_team %></a></h4>

<% if can? :read, Comment %>
	<div class="text-right">
		<%= link_to 'New Comment', new_comment_path(type: 'match', match_id: @match.id), class:'btn btn-success btn-md' if can? :modify, Comment%> 
	</div>
	<h2>Comments</h2>
	<% @match.comments.each do |c| %>
	  <h4>"<%= c.body %>"</h4>
	  <div class='text-right'>
	    <h5>
	      -<%= c.author %> &nbsp;
	      <%= link_to fa_icon('pencil'), edit_comment_path(c), class:'btn btn-default btn-xs' if can? :modify, Comment%>
	      <%= link_to fa_icon('trash-o'), c, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-xs' if can? :destroy, Comment%> 
	    </h5>
	  </div>
	<% end %>
<% end %>

<br>
<br>
<div class="row text-right">
	<%= link_to fa_icon('pencil', text:'Edit Match'), edit_event_match_path(@match.event, @match), class:'btn btn-default' if can? :update, Match%> 
	<%= link_to fa_icon('trash-o', text:'Destroy Match'), event_match_path(@match.event, @match), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' if can? :destroy, Match%>
</div>	