<div class="page-header">
	<h1>Match <%= @match.number %></h1>
	<h3><%= red(@match.red_score) %> - <%= blue(@match.blue_score) %></h3>
</div>

<br>
<h2><%= red("Red Alliance") %></h2>
<h4><a href="<%= team_path(@match.red1) %>" style="color:#FF0000;"> <%= @match.red1.show_team %></a></h4>
<h4><a href="<%= team_path(@match.red2) %>" style="color:#FF0000;"> <%= @match.red2.show_team %></a></h4>


<br>
<br>
<h2><%= blue("Blue Alliance") %></h2>
<h4><a href="<%= team_path(@match.blue1) %>" style="color:#0000FF;"> <%= @match.blue1.show_team %></a></h4>
<h4><a href="<%= team_path(@match.blue2) %>" style="color:#0000FF;"> <%= @match.blue2.show_team %></a></h4>



<br>
<br>
<div class="row text-right">
	<%= link_to fa_icon('pencil', text:'Edit Match'), edit_match_path(@match), class:'btn btn-default' %> 
	<%= link_to fa_icon('trash-o', text:'Destroy Match'), @match, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
</div>	